body{
	background-color:#ccc;
	/*font-family:Arial,Helvetica;
*/

}
.cont{
	width:600px;
	min-height:300px;
	margin:50px auto;
	background-color:#fff;
}
.cont table{
	border-collapse:collapse;
	border:1px solid #666;
	width:100%;
	background-color:#fff;
}
.cont table tr{
	border-bottom:1px solid #666;
}
.cont table tr td{
	border-right:1px solid #666;
	padding:15px;
	font-size:16px;
}


.cont table tr:nth-child(odd){
	background-color: rgba(0,0,0,0.2);
}.cont table tr th:{
	font-weight:bold;
	color:#fff;
	text-align:left;
	font-size:16;
	background-color:rgba(0,0,0,0.6);
}