body{
	background-color: purple;
	background-image: url(../image/elephant.jpg);
	
	background-size:80%,auto;
	background-position: center;

}






.content{
		
         width :800px;
         min-height:500px;
         padding:30px;
         margin:30px auto;
         color:white;
         background-color:rgba(0,0,0,0.5);

	}
